#环境辨识码: dev:本地, test=测试环境, prod=正式
APP_ENV=dev
#API host
API_HOST=0.0.0.0
API_PORT=9501

#WS host
WS_HOST=0.0.0.0
WS_PORT=9502
#WS最大连线数, 没给预设10000, 受机器的ulimit限制.
WS_MAX_CONN=10000

DB_ENABLE_LOG=true
#群聊DB
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=cp_chat
DB_MASTER_USERNAME=root
DB_MASTER_PASSWORD=123

#redis状态
REDIS_STATE_HOST=127.0.0.1
REDIS_STATE_PORT=6380
#REDIS_STATE_AUTH=
REDIS_STATE_DB=1

##redis缓存
#REDIS_CACHE_HOST=
#REDIS_CACHE_PORT=
#REDIS_CACHE_AUTH=
#REDIS_CACHE_DB=0
##redis消息队列DB
#
#REDIS_STREAM_HOST=
#REDIS_STREAM_PORT=
#REDIS_STREAM_AUTH=
#REDIS_STREAM_DB=2
#
##redis红包数据DB
#REDIS_BONUS_HOST=
#REDIS_BONUS_PORT=
#REDIS_BONUS_AUTH=
#REDIS_BONUS_DB=3

#最大idle秒数
REDIS_MAX_IDLE_TIME=60



#伺服器ID, 部署多台server时, 每台要分开设置, 从0开始的整数
SERVER_ID=0
#群聊加解密用KEY
MASTER_KEY=8dca925f0073c047e4437ddb34c3e7a3
